*{
    margin: 0px;
    padding: 0px;
}
.nav-header{
    place-items: center;
}
.nav-header img{
    margin:10px
}
.nav-toggle{
    position:static;
    float: right;
    /* font-size: 1.5rem; */
    color: var(--clr-primary-5);
    background-color: transparent;
    border-color: transparent;
    margin-right: 30px;
    margin-top:-1px;

}
.nav-toggle:hover{
    transform: rotate(90deg);
}
ul{
    display: flex;
    list-style-type: none;
}
.links a{
    margin: 5px;
    display:flex;
    text-decoration: none;
    font-size: large;
    color: black;
    letter-spacing: 5px;
}
.links{
    position:fixed;
    display: flex;
    margin-left: 35%;
    margin-top:-50px;
    
}
.social{
    position:static;
    display: flex;
    margin-right:20%;
    justify-content:flex-end;
    margin-top:-20px;
}
.social a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    padding:5px;
}

.nav-center{
    height:10%;
    width:100%;
    justify-content: space-between;
    background-color: antiquewhite;
    position: fixed;
}
.nav-header img{
    margin-left: 10%;
    position:static;
}
